body {
    background-color: #3a4754;
    color: white;
}

li {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    padding: 30px;
    /*height: 400px;*/
    /*width: 400px;*/
}

ul {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    /*height: 400px;*/
    /*width: 400px;*/
}

a {
    text-decoration: none;
    font-size: 50px;
    color: white;
}
